@model PikYak.Models.Report

@{
    ViewBag.Title = "AdminPage";
}

<div class="jumbotron">
    <h1>Welcome To the Admin Page!</h1>
    <p class="lead">Here are the items you need to take a look at...</p>
</div>