@model IEnumerable<PikYak.Models.YakViewModel>

@{
    ViewBag.Title = "AdminPage";
}

<div class="jumbotron">
    <h1>Welcome To the Admin Page @User.Identity.Name!</h1>
    <p class="lead">Here are the items you need to take a look at...</p>
</div>

<div >

    <h3 class="adminHeader">Current number of...</h3>
</div>


<div class="btn-group buttons adminText">
    <a class="btn btn-primary btn-lg" href="/yak/Admin?sortorder=reports">Reports | 24 </a>
    <a class="btn btn-primary btn-lg" href="#">Yaks | 55 </a>
    <a class="btn btn-primary btn-lg" href="/yak/Admin?sortorder=likes">Likes | 88 </a>
    <a class="btn btn-primary btn-lg" href="#">Admin | 86 </a>
</div>


    <!--Display the posts-->
    <div class="YakPost">

        @{
            foreach (var yvm in Model)
            {
                Html.RenderPartial("~/Views/Yak/YaksPartial.cshtml", yvm);
            }
        }

    </div>
