
@{
    ViewBag.Title = "Faq";
}


<h3 style="text-align:center;">What everyone is talking about...</h3>
<h2 style="text-align:center;"> Frequently Asked Questions</h2>

<!--
<div class="headerImg">
    <h2>  <img src="~/Content/Images/faq-header2a.jpg" /></h2>
</div>-->


<div class="row">
    <div class="topicContainer">
        <div class="col-md-4">

            <!--Category for Questions 1-------------------------------------------------------------->
            <div class="panel panel-success">
                <div class="panel-heading"><strong>About PikYak...</strong></div>
                <div class="panel-body">
                    <!--Button group collapsable-->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading hightlight">
                                <h4 class="panel-title">

                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                         What is PikYak?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> An application dedicated to spreading kindess through anonymous sharing!</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        Why was PikYak created?
                                        
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The members that created this application saw a need for a way to shine a positive light on others.</p>
                                    <p>With this application this creates an easy outlet to uplift those who need encouragement.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                         What is a "Yak"?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> A "Yak" is message posted to PikYak that in its entirety is a positive message. </p>
                                    <p>A message should be intended to be kind and encouraging about whatever the topic may be.</p>
                                    <p>
                                        These messages should be a shining light to the world that connects users together through positive encouragement.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">

            <!--Category for Questions 2-------------------------------------------------------------->
            <div class="panel panel-danger">
<<<<<<< HEAD
                <div class="panel-heading"><strong>Problems with PikYak...</strong></div>
=======
                <div class="panel-heading"><strong>Using PikYak...</strong></div>
>>>>>>> refs/remotes/origin/FAQ
                <div class="panel-body">
                    <!--Button group collapsable-->
                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-default">
                            <div class="panel-heading hightlight">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                                          How do I share "Yak's"?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>PikYak does not have this functionality because of the newness of the product.</p>
                                    <p> However, we are always looking to improve!</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                                        How to report an unkind yak?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Once you see a "Yak" that looks to be an unfirendly Yak, press the arrow button at the bottom of the post.</p>
                                    <p>Click the report Yak button and type a reason for why the Yak is unkind. Thanks for the help!</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
                                          How do I delete a YAK?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                      Go to the settings icon at the bottom of your Yak and click delete.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
        <div class="col-md-4">

            <!--Category for Questions 3-------------------------------------------------------------->
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Helping PikYak...</strong></div>
                <div class="panel-body">

                    <!--Button group collapsable-->
                    <div class="panel-group" id="accordion3">
                        <div class="panel panel-default">
                            <div class="panel-heading hightlight">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse7">
                                            How can I tell other people about the site?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You can contact them on other social media outlets</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse8">
                                           Can I donate money to help the application get better?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>We appreciate your want to help but this is a free application and want it to stay that way.</p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse9">
                                            How can I give feedback about PikYak?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> We are always open for suggestions. Click the link here! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!--Second Row of FAQ's------------------------------------------------------------------------------->
<<<<<<< HEAD
=======

>>>>>>> refs/remotes/origin/FAQ
<div class="row">
    <div class="topicContainer">
        <div class="col-md-4">

<<<<<<< HEAD
            <!--Category for Questions 4-------------------------------------------------------------->
=======
            <!--Category for Questions 1-------------------------------------------------------------->
>>>>>>> refs/remotes/origin/FAQ
            <div class="panel panel-success">
                <div class="panel-heading"><strong>PikYak Worldwide...</strong></div>
                <div class="panel-body">
                    <!--Button group collapsable-->
                    <div class="panel-group" id="accordion4">
                        <div class="panel panel-default">
<<<<<<< HEAD
                            <div class="panel-heading highlight">
                                <h4 class="panel-title">

                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse10">
                                        How do I set/reset my locations?
=======
                            <div class="panel-heading hightlight">
                                <h4 class="panel-title">

                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse10">
                                        What is PikYak?
>>>>>>> refs/remotes/origin/FAQ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse">
                                <div class="panel-body">
<<<<<<< HEAD
                                    <p>Once you have logged in type in your area code to get Yaks around you.</p>
=======
                                    <p> An application dedicated to spreading kindess through anonymous sharing!</p>
>>>>>>> refs/remotes/origin/FAQ
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse11">
<<<<<<< HEAD
                                        How do I view Yak's in other countries? 
=======
                                        Why was PikYak created?
>>>>>>> refs/remotes/origin/FAQ

                                    </a>
                                </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse">
                                <div class="panel-body">
<<<<<<< HEAD
                                    <p>To view other Yaks click on the settings icon and click "change my location", then type in the area code you would like to view.</p>
=======
                                    <p>The members that created this application saw a need for a way to shine a positive light on others.</p>
                                    <p>With this application this creates an easy outlet to uplift those who need encouragement.</p>
>>>>>>> refs/remotes/origin/FAQ
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse12">
<<<<<<< HEAD
                                       Question with content?
=======
                                        What is a "Yak"?
>>>>>>> refs/remotes/origin/FAQ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse">
                                <div class="panel-body">
<<<<<<< HEAD
                                    <p> Answer to content. </p>
                                 
=======
                                    <p> A "Yak" is message posted to PikYak that in its entirety is a positive message. </p>
                                    <p>A message should be intended to be kind and encouraging about whatever the topic may be.</p>
                                    <p>
                                        These messages should be a shining light to the world that connects users together through positive encouragement.
                                    </p>
>>>>>>> refs/remotes/origin/FAQ
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">

<<<<<<< HEAD
            <!--Category for Questions 5-------------------------------------------------------------->
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>PikYak Security Concerns...</strong></div>
=======
            <!--Category for Questions 2-------------------------------------------------------------->
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>Using PikYak...</strong></div>
>>>>>>> refs/remotes/origin/FAQ
                <div class="panel-body">
                    <!--Button group collapsable-->
                    <div class="panel-group" id="accordion5">
                        <div class="panel panel-default">
<<<<<<< HEAD
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse13">
                                        How is PikYak Anonymous?
=======
                            <div class="panel-heading hightlight">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse13">
                                        How do I share "Yak's"?
>>>>>>> refs/remotes/origin/FAQ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse">
                                <div class="panel-body">
<<<<<<< HEAD
                                    <p>The application does not track you by user names or IP address </p>
                                    <p>This is to encourage the ability to say nice things about others without any public scrutiny.</p>
=======
                                    <p>PikYak does not have this functionality because of the newness of the product.</p>
                                    <p> However, we are always looking to improve!</p>
>>>>>>> refs/remotes/origin/FAQ
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse14">
<<<<<<< HEAD
                                        Security concern question?
=======
                                        How to report an unkind yak?
>>>>>>> refs/remotes/origin/FAQ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse">
                                <div class="panel-body">
<<<<<<< HEAD
                                    <p>Answer to said security question</p>
=======
                                    <p>Once you see a "Yak" that looks to be an unfirendly Yak, press the arrow button at the bottom of the post.</p>
                                    <p>Click the report Yak button and type a reason for why the Yak is unkind. Thanks for the help!</p>
>>>>>>> refs/remotes/origin/FAQ
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse15">
<<<<<<< HEAD
                                        Security concern question 2?
=======
                                        How do I delete a YAK?
>>>>>>> refs/remotes/origin/FAQ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse15" class="panel-collapse collapse">
                                <div class="panel-body">
<<<<<<< HEAD
                                    <p>Answer to said security question</p>
=======
                                    <p>
                                        Go to the settings icon at the bottom of your Yak and click delete.
                                    </p>
>>>>>>> refs/remotes/origin/FAQ
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
        <div class="col-md-4">

<<<<<<< HEAD



            <!--Category for Questions 6-------------------------------------------------------------->
            <div class="panel panel-info">
                <div class="panel-heading"><strong>PikYak General Tips...</strong></div>
=======
            <!--Category for Questions 3-------------------------------------------------------------->
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Helping PikYak...</strong></div>
>>>>>>> refs/remotes/origin/FAQ
                <div class="panel-body">

                    <!--Button group collapsable-->
                    <div class="panel-group" id="accordion6">
                        <div class="panel panel-default">
<<<<<<< HEAD
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse16">
                                        How do I get a more positive raiting for a yak?
=======
                            <div class="panel-heading hightlight">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse16">
                                        How can I tell other people about the site?
>>>>>>> refs/remotes/origin/FAQ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse16" class="panel-collapse collapse">
                                <div class="panel-body">
<<<<<<< HEAD
                                    <p>you can click on this link to view keywords that will help increase your "kindess count".</p>
=======
                                    <p>You can contact them on other social media outlets</p>
>>>>>>> refs/remotes/origin/FAQ
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse17">
<<<<<<< HEAD
                                        How can I get more people to like my yak?
=======
                                        Can I donate money to help the application get better?
>>>>>>> refs/remotes/origin/FAQ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse17" class="panel-collapse collapse">
                                <div class="panel-body">
<<<<<<< HEAD
                                    <p>Create more yak replies to the content...</p>
=======
                                    <p>We appreciate your want to help but this is a free application and want it to stay that way.</p>
>>>>>>> refs/remotes/origin/FAQ

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse18">
<<<<<<< HEAD
                                        General tip question?
=======
                                        How can I give feedback about PikYak?
>>>>>>> refs/remotes/origin/FAQ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse18" class="panel-collapse collapse">
                                <div class="panel-body">
<<<<<<< HEAD
                                    <p> General tip answer... </p>
=======
                                    <p> We are always open for suggestions. Click the link here! </p>
>>>>>>> refs/remotes/origin/FAQ
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<<<<<<< HEAD



=======
>>>>>>> refs/remotes/origin/FAQ
<!--Java Script at Bottom so it loads last-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<!-- Script for Panel One -->
<script>
function toggleChevron(e) {
      $(e.target)
        .prev('.panel-heading')
        .find('i.indicator')
        .toggleClass('glyphicon-minus glyphicon-plus');


      $('#accordion .panel-heading').css('background-color', '#25B2FF');
      $(e.target)
         .prev('.panel-heading').css('background-color', 'mediumpurple');
      $('#accordion .panel-heading').removeClass('highlight');
		$(e.target).prev('.panel-heading').addClass('highlight');
}
$('#accordion').on('hidden.bs.collapse', toggleChevron);
$('#accordion').on('shown.bs.collapse', toggleChevron);

</script>

<!-- Script for Panel Two -->
<script>
  function toggleChevron(e) {
$(e.target)
.prev('.panel-heading')
.find('i.indicator')
.toggleClass('glyphicon-minus glyphicon-plus');


$('#accordion2 .panel-heading').css('background-color', '#25B2FF');
$(e.target)
   .prev('.panel-heading').css('background-color', 'mediumpurple');
$('#accordion2 .panel-heading').removeClass('highlight');
$(e.target).prev('.panel-heading').addClass('highlight');
}
$('#accordion2').on('hidden.bs.collapse', toggleChevron);
$('#accordion2').on('shown.bs.collapse', toggleChevron);

</script>

<!-- Script for Panel Three -->
<script>
  function toggleChevron(e) {
$(e.target)
.prev('.panel-heading')
.find('i.indicator')
.toggleClass('glyphicon-minus glyphicon-plus');


$('#accordion3 .panel-heading').css('background-color', '#25B2FF');
$(e.target)
   .prev('.panel-heading').css('background-color', 'mediumpurple');
$('#accordion3 .panel-heading').removeClass('highlight');
$(e.target).prev('.panel-heading').addClass('highlight');
}
$('#accordion3').on('hidden.bs.collapse', toggleChevron);
$('#accordion3').on('shown.bs.collapse', toggleChevron);

</script>

<<<<<<< HEAD

=======
>>>>>>> refs/remotes/origin/FAQ
<!-- Script for Panel Four -->
<script>
  function toggleChevron(e) {
$(e.target)
.prev('.panel-heading')
.find('i.indicator')
.toggleClass('glyphicon-minus glyphicon-plus');


$('#accordion4 .panel-heading').css('background-color', '#25B2FF');
$(e.target)
   .prev('.panel-heading').css('background-color', 'mediumpurple');
$('#accordion4 .panel-heading').removeClass('highlight');
$(e.target).prev('.panel-heading').addClass('highlight');
}
$('#accordion4').on('hidden.bs.collapse', toggleChevron);
$('#accordion4').on('shown.bs.collapse', toggleChevron);

</script>

<!-- Script for Panel Five -->
<script>
  function toggleChevron(e) {
$(e.target)
.prev('.panel-heading')
.find('i.indicator')
.toggleClass('glyphicon-minus glyphicon-plus');


$('#accordion5 .panel-heading').css('background-color', '#25B2FF');
$(e.target)
   .prev('.panel-heading').css('background-color', 'mediumpurple');
$('#accordion5 .panel-heading').removeClass('highlight');
$(e.target).prev('.panel-heading').addClass('highlight');
}
$('#accordion5').on('hidden.bs.collapse', toggleChevron);
$('#accordion5').on('shown.bs.collapse', toggleChevron);

</script>

<!-- Script for Panel Six -->
<script>
  function toggleChevron(e) {
$(e.target)
.prev('.panel-heading')
.find('i.indicator')
.toggleClass('glyphicon-minus glyphicon-plus');


$('#accordion6 .panel-heading').css('background-color', '#25B2FF');
$(e.target)
   .prev('.panel-heading').css('background-color', 'mediumpurple');
$('#accordion6 .panel-heading').removeClass('highlight');
$(e.target).prev('.panel-heading').addClass('highlight');
}
$('#accordion6').on('hidden.bs.collapse', toggleChevron);
$('#accordion6').on('shown.bs.collapse', toggleChevron);

</script>