
@{
    ViewBag.Title = "Faq";
}

<h3 style="text-align:center;">What everyone is talking about...</h3>
<h2 style="text-align:center;"> Frequently Asked Questions</h2>
<div class="row">
    <div class="topicContainer">
        <div class="col-md-4">

            <!--Category for Questions 1-------------------------------------------------------------->
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>About PikYak...</strong></div>
                <div class="panel-body">
                    <!--Button group collapsable-->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                      
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        What is PikYak?
                              
                                    
                              
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> An application dedicated to spreading kindess through anonymous sharing</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        How do I report a yak?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Once you see a "Yak" that looks to be an unfirendly Yak, press the arrow button at the bottom of the post.</p>
                                    <p>Click the report Yak button and type a reason for why the Yak is unkind. Thanks for the help!</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        What is a "Yak"?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> A "Yak" is message posted to PikYak that in its entirety is a positive message. </p>
                                    <p>A message should be intended to be kind and encouraging about whatever the topic may be.</p>
                                    <p>These messages should be a shining light to the world that connects users together through positive encouragement.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">

            <!--Category for Questions 2-------------------------------------------------------------->
            <div class="panel panel-success">
                <div class="panel-heading"><strong>Problems with PikYak...</strong></div>
                <div class="panel-body">
                    <!--Button group collapsable-->
                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                                       How do I share "Yak's"?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>PikYak does not have this functionality because of the newness of the product.</p>
                                    <p> However, we are always looking to improve!</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                                        How to report an unkind yak?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Once you see a "Yak" that looks to be an unfirendly Yak, press the arrow button at the bottom of the post.</p>
                                    <p>Click the report Yak button and type a reason for why the Yak is unkind. Thanks for the help!</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
                                        Here is another question?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
        <div class="col-md-4">

            <!--Category for Questions 3-------------------------------------------------------------->
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Helping PikYak...</strong></div>
                <div class="panel-body">
                    <!--Button group collapsable-->
                    <div class="panel-group" id="accordion3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse7">
                                        How can I tell other people about the site?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You can contact them on social media outlets</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse8">
                                        Can I donate money to help the application get better?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>We appreciate your want to help but this is a free application and want .</p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse9">
                                        Here is my next question?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!--Second Row of FAQ's------------------------------------------------------------------------------->




<!--Java Script at Bottom so it loads last-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>

function toggleChevron(e) {
      $(e.target)
        .prev('.panel-heading')
        .find('i.indicator')
        .toggleClass('glyphicon-minus glyphicon-plus');
        //$('#accordion .panel-heading').css('background-color', 'green');
				$('#accordion .panel-heading').removeClass('highlight');
				$(e.target).prev('.panel-heading').addClass('highlight');
}
$('#accordion').on('hidden.bs.collapse', toggleChevron);
$('#accordion').on('shown.bs.collapse', toggleChevron);

</script>
