
@{
    ViewBag.Title = "Index";
}


<h2>YAKS</h2>

<div class="container center-block">
    <div class="row flex">
        <div class="col-md-7 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-3 text-center">
                            [Profile Picture]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Username]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Location]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Timestamp]
                        </div>
                    </div> 
                </div>
                <div class="panel-body text-center">
                    Kenan Casey is literally the coolest person ever!
                </div>
                <div class="panel-footer">
                    <div class="container-fluid panel-container">
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Report</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Like</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container center-block">
    <div class="row flex">
        <div class="col-md-7 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-3 text-center">
                            [Profile Picture]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Username]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Location]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Timestamp]
                        </div>
                    </div>
                </div>
                <div class="panel-body text-center">
                    This Pyak is negative and should be reported!
                </div>
                <div class="panel-footer">
                    <div class="container-fluid panel-container">
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Report</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Like</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container center-block">
    <div class="row flex">
        <div class="col-md-7 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-3 text-center">
                            [Profile Picture]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Username]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Location]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Timestamp]
                        </div>
                    </div>
                </div>
                <div class="panel-body text-center">
                    Pyakkity Pyak (Don't talk back)
                </div>
                <div class="panel-footer">
                    <div class="container-fluid panel-container">
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Report</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Like</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container center-block">
    <div class="row flex">
        <div class="col-md-7 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-3 text-center">
                            [Profile Picture]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Username]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Location]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Timestamp]
                        </div>
                    </div>
                </div>
                <div class="panel-body text-center">
                    This one is really long and I hope that the thing
                    wrapps around to acommodate.
                    I think it will but I'm not so sure.
                </div>
                <div class="panel-footer">
                    <div class="container-fluid panel-container">
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Report</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Like</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container center-block">
    <div class="row flex">
        <div class="col-md-7 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-3 text-center">
                            [Profile Picture]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Username]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Location]
                        </div>
                        <div class="col-xs-3 text-center">
                            [Timestamp]
                        </div>
                    </div>
                </div>
                <div class="panel-body text-center">
                    This will look WAAAAY better once I style it
                </div>
                <div class="panel-footer">
                    <div class="container-fluid panel-container">
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Report</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Like</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-block">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
