@model IEnumerable<PikYak.Models.YakViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Welcome To PikYak</h1>
    <p class="lead">Sharing positivity all over the world!</p>
</div>

<div class="btn-group buttons">
    <a class="btn btn-primary btn-lg" href="/yak/Index?sortorder=likes">Likes</a>
    <a class="btn btn-primary btn-lg" href="/yak/Index?sortorder=location">Location</a>
    <a class="btn btn-primary btn-lg" href="/yak/Index?sortorder=date">Time</a>
</div>

<div class="YakPost">

@{ 
    foreach (var yvm in Model)
    {
        Html.RenderPartial("~/Views/Yak/YaksPartial.cshtml", yvm);
    }
}

</div>

