@model IEnumerable<PikYak.Models.YakViewModel>

@{
    ViewBag.Title = "Index";


    /*var yaks = new List<PikYak.Models.Yak>();

    yaks.Add(new PikYak.Models.Yak { Text = "yakyakyakyak", Latitude = 2, Longitude = 3, Timestamp = DateTime.Now, Id = 4 });
    yaks.Add(new PikYak.Models.Yak { Text = "Here's a Really long Yak that fills multiple lines because it is so long and has so many characters. More characters, in fact, than are actu",
    Latitude = 2, Longitude = 3, Timestamp = DateTime.Now,Id = 4});

    yaks.Add(new PikYak.Models.Yak { Text = "yakyakyakyak", Latitude = 2, Longitude = 3, Timestamp = DateTime.Now });
    yaks.Add(new PikYak.Models.Yak { Text = "I still have no idea what I'm doing", Latitude = 2, Longitude = 3, Timestamp = DateTime.Now });
    yaks.Add(new PikYak.Models.Yak { Text = " ", Latitude = 2, Longitude = 3, Timestamp = DateTime.Now });*/
}

<div class="jumbotron">
    <h1>Welcome To PikYak</h1>
    <p class="lead">Sharing positivity all over the world!</p>
</div>

<div class="btn-group buttons">
    <a class="btn btn-primary btn-lg" href="/yak/Index?sortorder=likes">Likes</a>
    <a class="btn btn-primary btn-lg" href="/yak/Index?sortorder=location">Location</a>
    <a class="btn btn-primary btn-lg" href="/yak/Index?sortorder=date">Time</a>
</div>

<div class="YakPost">

@{ 
    foreach (var yvm in Model)
    {
        Html.RenderPartial("~/Views/Yak/YaksPartial.cshtml", yvm);
    }
}

</div>


<!--This was a test row, it should really be layed out in the above html,
     and what gets printed out should be in the partial view...-->
<!---
<div class="row">

    <!--create as many panels as we have movies--
    foreach (var yak in Model)

    {

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> User: yak.Id</h3>
            </div>
            <div class="panel-body">
           
                <p> Time: yak.Timestamp</p>
                <p>Yak ID:  yak.Id</p>
            </div>
            <div class="panel-footer">
                <!--created a url thats is composed as such--
                <a href="/Home/Yak/Like/yak.Id" class="glyphicon glyphicon-heart-empty"> Like Button</a>

                <h3 class="panel-title"> User: yak.Id</h3>
            </div>
            <div class="panel-body">
           
                <p> Time: yak.Timestamp</p>
                <p>Yak ID:  yak.Positivity</p>
                <p>Yak Text:  yak.Text</p>
            </div>
            <div class="panel-footer">
                <!--created a url thats is composed as such--
               <!-- <a href="/Home/Yak/Like/yak.Id" class="glyphicon glyphicon-heart-empty"> Like Button</a>--
                (yak.Longitude,yak.Latitude)
          

            </div>
        </div>
    }

</div>-->




