@model IEnumerable<PikYak.Models.Yak>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div id="searchContainer">

    <div class="btn-group buttons">
        <button type="button" class="btn btn-primary btn-lg">Likes</button>
        <button type="button" class="btn btn-primary btn-lg">Location</button>
        <a class="btn btn-primary btn-lg" href="http://localhost:54057/yak/search?sortorder=date">Time</a>
    </div>

    <div id="searchResults">
        
        @{
            foreach (var yak in Model)
            {
                Html.RenderPartial("~/Views/Yak/YaksPartial.cshtml", yak);
            }
        }
         
    </div>

</div>

