
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div id="searchContainer">

    <div class="btn-group buttons">
        <button type="button" class="btn btn-primary btn-lg">Likes</button>
        <button type="button" class="btn btn-primary btn-lg">Location</button>
        <button type="button" class="btn btn-primary btn-lg">Time</button>
    </div>

    <div id="searchResults"> </div>

</div>

