<form action="/Yak/Create" method="post">
    <div class="container">
        <div class="input-group textBox">
            <textarea type="text" name="yakMessage" class="form-control textBox" placeholder="Your Message" aria-describedby="basic-addon1" value="yakMessage" id="yakMessage" method="get"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <h3 id="sentimentWord" name="sentimentWord" value="sentimentWord" class="text-center"></h3>
        <input id="sentiment" name="sentiment" value="sentiment" type="hidden"/>
        <input id="confidence" name="confidence" value="confidence" type="hidden"/>
        <input id="lat" name="latitude" value="latitude" type="hidden"/>
        <input id="long" name="longitude" value="longitude" type="hidden"/>
        <h3>Confidence: </h3>
        <div class="progress">

            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" id="kindBar">
                <span class="sr-only" id="confidenceBar" name="confidenceBar" value="confidenceBar">45%</span>
            </div>
        </div>
        <div class="">
            <div class="row">
            <div class="col-md-3"></div>
                <button href="~/Yak/Index" type="button" class="col-md-3 btn btn-primary postCancel close" data-dismiss="modal">@Html.ActionLink("Cancel", "Index", "Yak")</button>
                <button type="submit" class="col-md-3 btn btn-success postCancel close" data-dismiss="modal" value="submit" name="submit" id="submit">Submit</button>
            <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</form>

<script src="~/Scripts/SentimentClient.js"></script>
<script src="~/Scripts/geolocation.js"></script>