<link rel="stylesheet" type="text/css" href="~/Content/YakPostStyle.css" />

<div class="container">
    <div class="row">
        <div class="col-sm-5"></div>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg col-sm-2 postButton" data-toggle="modal" data-target="#myModal">Post</button>
        <div class="col-sm-5"></div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade modalSize" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content modalSize">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title postTitle">PikYak Post</h4>
            </div>
            <div class="modal-body">
                <div class="input-group textBox">
                    <textarea type="text" class="form-control textBox" placeholder="Your Message" aria-describedby="basic-addon1"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <h3>Kindness: </h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>
                    <button type="button" class="btn btn-default postCancel close" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default postCancel close" data-dismiss="modal" value="submit">Submit</button>
            </div>
        </div>

    </div>
</div>