

<div class="container center-block">
    <div class="row flex">
        <div class="col-md-7 col-sm-offset-3">
            <div class="panel panel-primary yak">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-6 text-left">
                            7.2 mi
                        </div>
                        <div class="col-xs-6 text-right">
                            30s
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-3 text-left">
                        <img src="~/Content/Images/TestGlyphIcon.png" />
                    </div>
                    <div class="col-md-9 text-left">
                        Yak text goes here. Kenan Casey is the coolest person. Chocolate is great. We're just seeing how long this 
                        thing can be.
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="container-fluid panel-container">
                        <div class="col-sm-4">
                            <a href="#" class="yakbutton">
                                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="yakbutton">
                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="yakbutton">
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
