<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel panel-body">
                Yaks go here. Maybe have some buttons on the bottom? I dunno.
            </div>
        </div>
    </div>
</div>
