body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: mediumpurple;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.footer{
    width: 140px;
    margin: 0px auto;
    font-weight: bold;
}

.rightTab{
    border-radius: 5px;
    float: right;
    margin-top: 10px;
}

.form-control{
    border-radius: 0px;
}

.searchButt{
    border-radius: 0px;
}

.yak{
    margin-left: 30px;
    border-radius: 3px;
}